/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body {
  line-height: 1;
  height: 100%;
  font-family: "Roboto", sans-serif;
}

* {
  box-sizing: border-box;
}

.nav-container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  display: flex;
  text-align: left;
  padding-top: 50px;
}

nav {
  justify-content: space-evenly;
  display: flex;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: white;
  margin: 0 auto;
  max-width: 800px;
}

nav a:link,
nav a:visited {
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 14px 40px;
  max-width: 800px;
}

.banner {
  display: flex;
  width: 50%;
  padding: 0 7.5%;
  padding-bottom: 20px;
  margin: 0 auto;
  justify-content: center;
}

hr {
  border: none;
  border-top: 1px dashed black;
  max-width: 800px;
}

h1,
h2,
h3,
h4,
h5 {
  font-size: 18px;
  margin-bottom: 15px;
  font-family: "Rubik", sans-serif;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.middlecontainer {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

p {
  line-height: 1.4;
  font-family: "Rubik", sans-serif;
}

.about-text {
  max-width: 750px;
  margin: 0 auto;
  padding: 2%;
}

.strategy h2 {
  padding-top: 10px;
}

.work h2 {
  padding-top: 10px;
}

.office h2 {
  padding-top: 10px;
}

.meeting h2 {
  padding-top: 10px;
}

.middle-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.middle-content img {
  margin: 0 auto;
  height: 236px;
  width: 370px;
}

.second-content {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.second-content img {
  margin: 0 auto;
  height: 236px;
  width: 370px;
}

.bottom-content {
  max-width: 750px;
  margin: 0 auto;
  padding: 2%;
}

.button {
  padding: 10px;
  border: 1px solid black;
  max-width: 28%;
  border-radius: 4px;
  margin: 15px;
  font-family: "Rubik", sans-serif;
}

footer {
  width: 100%;
  background: black;
  max-width: 800px;
  margin: 0 auto;
}

.footer-nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 2%;
  font-size: 14px;
}

.footer-nav nav a {
  color: white;
  text-decoration: none;
}
